
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns items at the top */
    background-color: #000; /* Set the background color to black */
}
.box{
    background-color: #888; 
    height: 20vh;
    width: 50vw;
    padding: 20px;
    border: 2px solid #f00; /* Red border for the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adds some space from the very top of the page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
  height: 8vh;
  width: 40vw;
}